<html>
<h1>Request Form</h1>
<body>
    <form [formGroup]="requestForm" novalidate (ngSubmit)="onSubmit(requestForm)" action="/requests" method="POST" >
        <div class="container">
            <div class="row">
                <label class="control-label col-sm-2" for="request">Request Type:</label>
                <div class="col-sm-10">
                    <p><input type="text" formControlName="request" id="request" placeholder="Request Type"></p>
                </div>
            </div>
            <div class="row">
                <label class="control-label col-sm-2" for="description">Description:</label>
                <textarea rows="4" cols="50" formControlName="description" id="description" placeholder="">
                </textarea>
            </div>
            <p></p>
            <div class="row">
                <div class="button">
                    <p><button class="btn btn-primary btn-block" type="submit" [disabled]="!myForm.valid" >Submit Request</button> </p>
                </div>
            </div>
        </div>
    </form>
    <div *ngIf="edited" class="alert alert-success box-msg" role="alert">
        <strong>Request Sent!</strong> You will be notified by the management.
    </div>
    <h2 *ngIf="edited">List of Request Sent: </h2>
    <div *ngFor="let users of store">
        <p>Request: {{users.request}}  <br />
        Description:{{users.description}}</p>
    </div>
</body>
</html>