<html>
<h1>Home, Notice Board</h1>
<body>
    <table class="test">
        <tr>
            <td><img src="https://d30y9cdsu7xlg0.cloudfront.net/png/552563-200.png" /></td>
            <td>
                <h2 style="text align: left;">Recycling Notice</h2>
                <p> about 3 days ago</p>
                <pre>
Dear Residents, 
Please note the new recycling rules. 
Dumping of large furniture and other items is not allowed. 
Please adhere to the new rules.</pre>
            </td>
        </tr>
    </table>
    <table class="test">
        <tr>
            <td><img src="https://d30y9cdsu7xlg0.cloudfront.net/png/552563-200.png" /></td>
            <td>
                <h2 style="text align: left;">Recycling Notice</h2>
                <p> about 3 days ago</p>
                <pre>
Dear Residents, 
Please note the new recycling rules. 
Dumping of large furniture and other items is not allowed. 
Please adhere to the new rules.</pre>
            </td>
        </tr>
    </table>
    <table class="test">
        <tr>
            <td><img src="https://d30y9cdsu7xlg0.cloudfront.net/png/552563-200.png" /></td>
            <td>
                <h2 style="text align: left;">Recycling Notice</h2>
                <p> about 3 days ago</p>
                <pre>
Dear Residents, 
Please note the new recycling rules. 
Dumping of large furniture and other items is not allowed. 
Please adhere to the new rules.</pre>
            </td>
        </tr>
    </table>
    <table class="test">
        <tr>
            <td><img src="https://d30y9cdsu7xlg0.cloudfront.net/png/552563-200.png" /></td>
            <td>
                <h2 style="text align: left;">Recycling Notice</h2>
                <p> about 3 days ago</p>
                <pre>
Dear Residents, 
Please note the new recycling rules. 
Dumping of large furniture and other items is not allowed. 
Please adhere to the new rules.</pre>
            </td>
        </tr>
    </table>
</body>
</html>
